#archive-outer {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
#archive-inter {
  width: 90%;
  min-width: 200px;
  max-width: 980px;
  background-color: #fff;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 2px #d3d3d3;
  overflow: hidden;
}
#archive-year {
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 30px;
  font-weight: bold;
  color: theme_color;
  font-family: theme_font_family;
}
#archive-inter a {
  display: flex;
  align-items: center;
  height: 40px;
  color: theme_color;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  font-family: theme_font_family;
}
#archive-inter a:hover {
  color: theme_highlight_color;
  background-color: #f5f5f5;
}
#archive-item-time {
  color: #808080;
  font-size: 0.5em;
  padding-right: 20px;
  white-space: nowrap;
}
#page-nav {
  float: left;
  width: 100%;
  display: block;
  margin: 30px 0px 45px 0px;
  text-align: center;
  color: #aaa;
}
#page-nav:before,
#page-nav:after {
  content: "";
  display: table;
}
#page-nav:after {
  clear: both;
}
#page-nav .pages {
  display: block;
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 1em !important;
  border: none !important;
}
#page-nav .pages:before {
  content: "\f15c";
  font-family: FontAwesome;
  margin-right: 6px;
}
#page-nav .page-number,
#page-nav .extend {
  color: rgba(0,135,222,0.71);
  position: relative;
  overflow: hidden;
  font-size: 16px;
  padding: 7px 8px;
  display: inline;
  margin: 0 2px;
  text-decoration: none;
  border-bottom: 3px solid #ddd;
  border-top: 1px solid #f1f1f1;
  font-weight: 600;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
#page-nav .page-number:hover,
#page-nav .extend:hover,
#page-nav .page-number:active,
#page-nav .extend:active,
#page-nav .page-number.current,
#page-nav .extend.current {
  color: #444;
  border-bottom: 3px solid rgba(0,135,222,0.71);
  border-top: 1px solid #f1f1f1;
}
#page-nav .space {
  color: #ddd;
}
