#bottom-outer {
  height: 30px;
  text-align: center;
  margin-top: 50px;
}

#bottom-inner {
  display: inline-block;
  font-size: 12px;
  font-family: theme_font_family;
}

#bottom-inner a{
  color: theme_highlight_color;
  text-decoration: none;
}

#bottom-inner a:hover{
  text-decoration: underline;
}

